/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Variables */
:root {
    --bg-color: #030720;
    --text-color: #f2f2f2;
    --muted-color: #a0a0a0;
    --accent-color: rgba(5, 145, 226, 0.55);
    --max-width: 1100px;
}

/* Base */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #02051d, #021142, #02051d);
    color: var(--text-color);
    line-height: 1.6;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    display: inline-block;
    /* clave para que el scale funcione bien */
    transition:
        transform 0.2s ease,
        color 0.2s ease;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a:hover {
    transform: scale(1.06);
}

/* Layout */
header {
    position: sticky;       /* lo hace “pegajoso” */
    top: 0;                 /* se queda en la parte superior */
    width: 100%;            /* ocupa todo el ancho */
    z-index: 1000;          /* por encima de otros elementos */
    
    border-bottom: 1px solid #222;
    padding: 20px 0;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
    background-color: #0a0f2f; /* fondo sólido para que el contenido no se vea debajo */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

nav h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

nav ul {
  display: flex; /* menú horizontal */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  margin-left: 30px;
  padding: 0;
  
}

nav .hamburger {
  display: none; /* hamburguesa oculta por defecto */
}

section {
    padding: 80px 0;
}

/* Hero */
.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    will-change: transform;
    transition: transform 0.2s ease-out;
    z-index: 2;
    pointer-events: none;
    box-shadow:
        inset 0 0 14px rgba(120, 220, 255, 0.55),
        inset -8px -8px 22px rgba(0, 40, 120, 0.35),
        0 0 42px rgba(60, 180, 255, 0.45);

    border-radius: 50%;
}

/* Tamaños y posiciones */
.b1 {
    width: 290px;
    height: 290px;
    top: -14%;
    left: -10%;
}

.b3 {
    width: 290px;
    height: 290px;
    top: 62%;
    left: 85%;
}

.b6 {
    width: 230px;
    height: 230px;
    top: -20%;
    left: 70%;
}

.b2 {
    width: 140px;
    height: 140px;
    top: 30%;
    left: 12%;
}

.b4 {
    width: 230px;
    height: 230px;
    top: 78%;
    left: 18%;
}

.b7 {
    width: 120px;
    height: 120px;
    top: 52%;
    left: 70%;
}

.b9 {
    width: 60px;
    height: 60px;
    top: 40%;
    left: 82%;
}

.b5 {
    width: 70px;
    height: 70px;
    top: 75%;
    left: 45%;
}

.b8 {
    width: 50px;
    height: 50px;
    top: 10%;
    left: 48%;
}

.b10 {
    width: 60px;
    height: 60px;
    top: 13%;
    left: 25%;
}

#hero {
    background: url(./images/programming-background-with-person-working-with-codes-computer.jpg);
    height: 50vh;
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

}

.info-content h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    text-shadow: 0px 0px 60px rgb(0, 0, 0, 1);
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-shadow: 0 0 14px rgba(120, 220, 255, 0.55);
}



.info-content {
    background: rgba(6, 21, 21, 0.8);
    /* oscuro con transparencia */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: relative;

}

.info div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
}

#hero h2 {
    font-size: clamp(2.6rem, 5vw, 3.4rem);
    max-width: 700px;
    line-height: 1.1;
}

#hero p {
    max-width: 700px;
    font-size: clamp(1.15rem, 1.6vw, 1.2rem);
    line-height: 1.4;
    color: white;
    text-shadow: 0px 0px 30px rgb(0, 0, 0, 1), 0 0 14px rgba(120, 220, 255, 1);
    text-align: center;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
}

/* Sobre mí */
.sobre-mi-content {
    display: flex;
    flex-direction: row;  /* lado a lado */
    align-items: center;
    gap: 48px;
}

.sobre-mi-imagen img {
    width: 100%;
    max-width: 600px;    /* tamaño grande para desktop */
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    object-position: top center;
}

.sobre-mi-texto h2 {
    margin-bottom: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.sobre-mi-texto {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
}



.sobre-mi-imagen img {
    width: 100%;
    max-height: 330px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    object-position: top center;
}

/* Proyectos */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
}

#proyectos h2 {
    grid-column: 1 / -1;
    margin-bottom: 25px;
    font-weight: bold;
}

.proyecto {
    border: 1px solid #222;
    padding: 24px;
    border-radius: 12px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    
}

.proyecto:hover {
    transform: translateY(-6px);
    border-color: var(--accent-color);
    box-shadow: 0 0 20px #041d70;
}

.proyecto h3 {
    margin-bottom: 8px;
}

.proyecto p {
    color: var(--muted-color);
    margin-bottom: 16px;
}

/* Contacto */
.contacto-lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0;
    margin-top: 24px;
}

.contacto-lista li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    font-size: 0.95rem;
    transition: color 0.2s ease, transform 0.2s ease;
}

.contacto-lista li a i {
    font-size: 1.1rem;
    color: var(--accent-color);
}

.contacto-lista li a:hover {
    color: var(--accent-color);
    transform: translateY(-2px) scale(1.1);
}

/* Footer */
footer {
    border-top: 1px solid #222;
    padding: 24px;
    text-align: center;
    color: var(--muted-color);
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    max-height: 0;               /* altura inicial 0 */
    overflow: hidden;            /* oculta el contenido */
    flex-direction: column;
    position: absolute;
    margin-top: -10px;
    margin-bottom: -10px;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #0a0f2f;
    transition: max-height 0.3s ease-in-out; /* animación suave */
  }

  nav ul.active {
    
    max-height: 500px;           /* altura suficiente para mostrar todos los links */
  }

  nav .hamburger {
    display: block;              /* hamburguesa visible */
  }

  nav ul li {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #222;
    margin: 0;
  }
  #hero h2 {
      font-size: 2.2rem;
  }
  
  nav ul {
      gap: 0px;
  }
  
  section {
      padding: 60px 20px;
  }
  
  /* Sobre mí */
  .sobre-mi-content {
      flex-direction: column;  /* apila imagen y texto */
      gap: 32px;
  }
  
  .sobre-mi-imagen img {
      max-width: 400px;       /* tamaño reducido para móvil */
      height: auto;
  }
}